

html {
    font-family: 'Inter', system-ui;
    font-size: 1rem;
}

body {
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 12px 6px;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: var(--link-color);
}

a:active, a:hover {
    color: #ffffff;
    background-color: var(--link-color);
}

p, ol, hr, section {
    margin: 12px 0;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    display: inline-block;
}

h1 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 4rem;
}

h2 {
    font-size: 1.75rem;
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

.social-block {
    display: inline-table;
    margin: 0.3rem;
    --link-color: #eeeeee;
}
.social-block:hover {
    color: #ffffff;
    background-color: #550055;
    border-radius: 7px;
}

.center {
    width: 100%;
    text-align: center;
}

.name-gradient {
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(255,65,241,1) 0%, rgba(255,164,52,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glow {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

.scroll-menu {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    padding: 0.25em;
}
.scroll-menu-item {
    width: 16em;
    margin: 0.5em;
    display: inline-grid;
}
.scroll-menu-item img {
    border-radius: 0.5em;
}
.scroll-menu-item h2 {
    font-size: 1.5rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    word-break: break-word;
    white-space: normal;
}
.scroll-menu-item p {
    font-size: 1rem;
    display: block;
    word-break: break-word;
    white-space: normal;
    margin: 0;
    --link-color: #ffffff;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0.2em #fff, 0 0 0.4em #ff00ff, 0 0 0.6em #ff00ff, 0 0 0.7em #ff00ff, 0 0 0.2em #ff00ff, 0 0 0.4em #ff00ff, 0 0 0.5em #ff00ff;
    }

    to {
        text-shadow: 0 0 0.2em #fff, 0 0 0.4em #FF7F00, 0 0 0.6em #FF7F00, 0 0 0.7em #FF7F00, 0 0 0.2em #FF7F00, 0 0 0.4em #FF7F00, 0 0 0.5em #FF7F00;
    }
}

:root {
    --text-color: #eeeeee;
    --link-color: #ff88ff;
}

body {
    background: #0E0411;
    color: var(--text-color);
}

input,
select {
    background-color: #111111;
    border-color: #343434;
    border-style: solid;
    border-radius: 2px;
    color: var(--text-color);
}

hr {
    filter: brightness(0.2);
}

.squiggly {
    position: relative;
    height: 18px;
    width: 100%;
    margin-top: 2em;
}

.squiggly::after,
.squiggly::before {
    height: inherit;
    width: inherit;
    background-size: 18px 100%; /* Change this to adjust the size of the squiggly line. */
    content: "";
    position: absolute;
}

.squiggly::before {
    top: -2px;
    background-image: linear-gradient(45deg, #550055 35%, transparent 0),
    linear-gradient(-45deg, #550055 35%, transparent 0);
}

.squiggly::after {
    top: 0;
    background-image: linear-gradient(45deg, #0E0411 35%, transparent 0),
    linear-gradient(-45deg, #0E0411 35%, transparent 0);
}