*, *::before,*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Inter', system-ui;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
}

body {
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 12px 6px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: var(--link-color);
}

a:active, a:hover {
    color: #ffffff;
    background-color: var(--link-color);
}

p, ol, hr, section {
    margin: 12px 0;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    display: inline-block;
}

h1 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

.social-block {
    display: inline-table;
    margin: 0.3rem;
    --link-color: #eeeeee;
}
.social-block:hover {
    color: #ffffff;
    background-color: #550055;
    border-radius: 7px;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.name-gradient {
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(255,65,241,1) 0%, rgba(255,164,52,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --text-color: #eeeeee;
    --link-color: #ff88ff;
}

body {
    background: #0E0411;
    color: var(--text-color);
}

input,
select {
    background-color: #111111;
    border-color: #343434;
    border-style: solid;
    border-radius: 2px;
    color: var(--text-color);
}

hr {
    filter: brightness(0.2);
}
